<div class="edit-buttons">
  <button class="btn btn-primary" onclick="window.location.href='#/users/<%= user.id %>'">Cancel</button><button class="save-edits btn btn-primary">Save</button>
</div>

<div class="user-show-header">
  <form>
    <% if (user.get('header_image') !== null) { %>
      <div style="background-image:url('<%= user.get('header_image') %>')" class="user-header-image">
        <i class="fa fa-picture-o"></i>
      </div>
    <% } else { %>
      <div class="user-header-image">
        <i class="fa fa-picture-o"></i>
      </div>
    <% } %>
    <button class="user-icon-button"><i class="fa fa-user"></i></button>
    <br>
    <button class="btn btn-primary" onclick="window.location.href='#/users/<%= user.id %>'">Cancel</button><button class="save-edits btn btn-primary">Save</button>
    <h1><input style="width:100%"
               type="text"
               class="edit-email"
               name="user[description]"
               value="<%= user.escape('email') %>"
               placeholder="Username">
    </h1>
    <h4><input style="width:100%"
               type="text"
               name="user[description]"
               value="<%= user.escape('description') %>"
               placeholder="Optional description">
    </h4>
  </form>
  <button class="info" id="following" data-toggle="modal" data-target="#followingModal">FOLLOWING<br><p class=num><%= followings.length %></p></button>
  <button class="info" id="followers" data-toggle="modal" data-target="#followersModal">FOLLOWERS<br><p class=num><%= followers.length %></p></button>
  <br>
  <button class="follow btn btn-primary">Follow</button>
</div>
<br>
<ul class="user-stories">
</ul>

<div id="followingModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="followingLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title" id="followingLabel"><%= user.escape('email') %> is following</h2>
        <% if (followings.length > 0) { %>
        <ul>
          <% followings.forEach( function (user) { %>
            <li><div class="user-info"><a href="#/users/<%= user.id %>">
              <strong><%= user.escape('email') %></strong></a><br>
                <%= user.escape('description') %></div>
                <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
            </li>
          <% }) %>
          </ul>
        <% } else { %>
        <ul>
          <li>Nothing to show.</li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div id="followersModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="followersLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title" id="followersLabel"><%= user.escape('email') %> is followed by</h2>
        <% if (followers.length > 0) { %>
        <ul>
          <% followers.forEach( function (user) { %>
            <li><div class="user-info"><a href="#/users/<%= user.id %>">
              <strong><%= user.escape('email') %></strong></a><br>
                <%= user.escape('description') %></div>
                <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
            </li>
          <% }) %>
          </ul>
        <% } else { %>
        <ul>
          <li>Nothing to show.</li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="blankStoryError" tabindex="-1" role="dialog" aria-labelledby="blankErrorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style="text-align:center; border:none;" class="modal-header">
        <div class="modal-title" id="blankErrorLabel">Username cannot be blank.</div>
      </div>
    </div>
  </div>
</div>
