<div class="landing-page">
  <div class="feed">
    <div class="new">
      <div class="pre-click">
        <t><i class="fa fa-user"></i>    Write Here...</t>
      </div>
      <div class="post-click">
      </div>
    </div>
    <ul class="main-stories" style="width:650px">
    </ul>
  </div>

  <div class="sidebar">
    <div class="tags">
      <t class="featured">FEATURED TAGS</t>
      <br>
      <div>
        <% tags.forEach( function (tag) { %>
          <a href="#tags/<%= tag.id %>">
            <button class="tag-button">
            <%= tag.escape('label') %>
            </button>
          </a>
        <% }) %>
      </div>
    </div>
    <div class="top-stories">
      <t class="featured">TOP STORIES ON LARGE</t>
      <br>
      <ul>
        <% topStories.forEach( function (story) { %>
        <li>
          <button class="btn btn-circle"><%= story.id %></button>
          <a href="#/stories/<%= story.id %>">
            <strong><%= story.escape('title') %></strong>
            <br><%= story.escape('subtitle') %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
</div>
