<% if (response !== undefined) { %>
  <div class="response-header">
    <p>Written in reponse to:</p>
    <h4><%= response.escape('title') %></h4>
  </div>
<% } %>
<div class="story-show-header">
  <% if (story.get('header_image') !== null) { %>
  <img src="<%= story.escape('header_image') %>">
  <% } %>
  <h1><%= story.escape('title') %></h1>
  <h2><%= story.escape('subtitle') %></h2>
</div>

<div class="story-body"><%= story.escape('body') %></div>
<br>
<div class="new">
  <p>Responses</p>
  <div class="pre-click">
    <p><i class="fa fa-user"></i>    Write a response...</p>
  </div>
  <div class="post-click">
    <button id="close-new" class="btn btn-default">Close</button>
  </div>
</div>
