<% if (response !== undefined) { %>
  <div class="response-header">
    <p>Written in reponse to:</p>
    <h4><%= response.escape('title') %></h4>
  </div>
<% } %>
<div class="story-show-header">
  <% if (story.get('header_image') !== null) { %>
  <div class="bg">
    <div class="image bg-normal"><img src="<%= story.escape('header_image') %>"></div>
    <!-- <div class="image bg-blur"><img src="<%= story.escape('header_image') %>"></div> -->
  </div>
  <% } %>
  <!-- <%= story.get('title') %>
  <%= story.get('subtitle') %> -->
</div>

<div class="story-body"><%= story.get('body') %></div>
<br>
<div class="new">
  <p>Responses</p>
  <div class="pre-click">
    <p><i class="fa fa-user"></i>    Write a response...</p>
  </div>
  <div class="post-click">
  </div>
</div>
