<% if (response !== undefined) { %>
<p>Written in reponse to:</p>
<h4><%= response.escape('title') %></h4>
<% } %>
<div class="story-show-header">
  <img src="<%= story.escape('header_image') %>">
</div>

<h1><%= story.escape('title') %></h1>
<h2><%= story.escape('subtitle') %></h2>

<div class="story-body"><%= story.escape('body') %></div>
