<% if (response !== undefined) { %>
  <div style="padding-top:30px;" class="response-header">
    <t>Written in reponse to:</t>
    <h4><a style="color:black;" href="#/stories/<%= response.id %>"><%= response.escape('title') %></a></h4>
  </div>
<% } %>
<div class="story-show-header">
  <% if (story.get('header_image') !== null) { %>
  <div class="bg">
    <div class="image bg-normal"><img src="<%= story.escape('header_image') %>"></div>
    <!-- <div class="image bg-blur"><img src="<%= story.escape('header_image') %>"></div> -->
  </div>
  <% } %>
</div>

<div class="story-body">
  <%= story.get('body') %>
</div>
<% if (tags.length > 0) { %>
  <div style="color:rgba(128,128,128, 0.5);padding-left:100px;padding-bottom:30px;">
    TAGGED IN<br>
    <% tags.forEach( function (tag) { %>
      <a href="#/tags/<%= tag.id %>">
          <button class="tag-button">
          <%= tag.escape('label') %>
        </button>
      </a>
    <% }) %>
<% } %>
</div>
<div style="width:100%; border-top:1px solid rgba(128, 128, 128, 0.2);"></div>
<div styl="margin-bottom: 150px; padding-top:50px;" class="new">
  <div class="pre-click">
    <t><button style="margin-top:-5px;" class='btn btn-circle'><span><i style="padding-left:2px;" class="fa fa-user"></i></span></button>
        &nbsp; Write a response...
    </t>
  </div>
  <div class="post-click">
    <t class="story-username"><button style="margin-top:-5px;" class='btn btn-circle'><span><i style="padding-left:1px;" class="fa fa-user"></i></span></button>
      &nbsp;
    </t>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="navbar-header story-footer">
    <button class='navbar-btn btn btn-circle'>
      <span><i class="fa fa-user"></i></span>
    </button>
  </div>

</nav>
