<% if (response !== undefined) { %>
  <div style="padding-top:30px;" class="response-header">
    <p>Written in reponse to:</p>
    <h4><a style="color:black;" href="#/stories/<%= response.id %>"><%= response.escape('title') %></a></h4>
  </div>
<% } %>
<div class="story-show-header">
  <% if (story.get('header_image') !== null) { %>
  <div class="bg">
    <div class="image bg-normal"><img src="<%= story.escape('header_image') %>"></div>
    <!-- <div class="image bg-blur"><img src="<%= story.escape('header_image') %>"></div> -->
  </div>
  <% } %>
  <!-- <%= story.get('title') %>
  <%= story.get('subtitle') %> -->
</div>

<div class="story-body"><%= story.get('body') %></div>
<div style="width:100%; border-top:1px solid rgba(128, 128, 128, 0.2);"></div>
<div style="margin-left:250px; margin-bottom:250px; padding-top:50px;" class="new">
  <div class="pre-click">
    <p><i class="fa fa-user"></i>    Write a response...</p>
  </div>
  <div class="post-click">
  </div>
</div>
