<a href="#/users/<%= author.id %>"><%= author.escape('email') %></a><br>
<h2><%= story.escape('title') %><h2>
<h3><%= story.escape('subtitle') %></h3><br>
<a href="#/stories/<%= story.id %>">Continue reading</a>
