<li class="preview">
  <% if (pub !== undefined) { %>
    <a href="#/publications/<%= pub.id %>"><strong><%= pub.escape('title') %></strong></a><br>
    <a style="color:rgba(128, 128, 128, 0.5); font-size:12px;" href="#/users/<%= author.id %>">
      <%= author.escape('email') %>
      &#8231; </a>
    <a style="color:rgba(128, 128, 128, 0.5); font-size:12px;" href="#/stories/<%= story.id %>">
      <abbr class="timeago" title="<%= story.get('created_at') %>"><%= story.get('created_at') %></abbr>
    </a>
  <% } else { %>
  <a href="#/users/<%= author.id %>"><%= author.escape('email') %></a><br>
  <a style="color:rgba(128, 128, 128, 0.5); font-size:12px;" href="#/stories/<%= story.id %>">
    <abbr class="timeago" title="<%= story.get('created_at') %>">
      <%= story.get('created_at') %>
    </abbr>
  </a>
  <% } %>
  <% if (story.get('header_image') !== null) { %>
    <br>
  <div class="img-container">
    <a href="#/stories/<%= story.id %>">
      <img src="<%= story.get('header_image') %>">
    </a>
  </div>
  <% } %>
  <div class="sub-preview">
    <% if (story.get('story_id') === null) { %>
      <a style="color:black;" href="#/stories/<%= story.id %>">
        <h2><%= story.escape('title') %><h2>
        <h3 style="margin-top:-10px;"><%= story.escape('subtitle') %></h3>
      </a>
      <% if (sentence !== "") { %>
        <a style="color:black;" href="#/stories/<%= story.id %>">
          <div style="font-family:serif;font-size:20px; padding-top:15px;">
            <% if (sentence.length < 249) { %>
              <%= sentence %>
            <% } else { %>
              <%= sentence %>...
            <% } %>
          </div>
        </a>
      <% } %>
      <br>
      <a href="#/stories/<%= story.id %>">Continue reading</a>
      <a style="color:rgba(128,128,128,1);"
         href="#/stories/<%= story.id %>"> &#8231; <%= readingTime %> min read</a>
    <% } else { %>
      <div style="color:rgba(128, 128, 128, 0.7)">
        <i class="fa fa-comment-o"></i>
        in response to <t class="in-response"></t>
      </div>
      <br>
      <div style="font-family:serif;font-size:20px;">
        <a style="color:black;" href="#/stories/<%= story.id %>">
          <% if (sentence.length < 249) { %>
            <%= sentence %>
          <% } else { %>
            <%= sentence %>...
          <% } %>
        </a>
      </div>
      <br>
      <a href="#/stories/<%= story.id %>">Continue reading</a>
      <a style="color:rgba(128,128,128,1);"
         href="#/stories/<%= story.id %>"> &#8231; <%= readingTime %> min read</a>
      <% } %>
  <div>
</li>
