<form id="search">
  <input id="box" type="text" placeholder="Search Large" autofocus>
  <input type="submit">
</form>
<br>

<% if (params !== null) { %>
<ul class="nav nav-tabs nav-stacked">
  <li class="active"><a data-toggle="tab" href="#sectionA">ALL</a></li>
  <li><a data-toggle="tab" href="#sectionB">PEOPLE</a></li>
  <li><a data-toggle="tab" href="#sectionC">PUBLICATIONS</a></li>
</ul>

<div class="tab-content">
  <!-- section all -->
  <div id="sectionA" class="tab-pane fade in active">
    <div class="stories-results">
      <p class="section-label">STORIES</p>
      <% if (stories.length > 0) { %>
        <ul class="results-previews">
        </ul>
      <% } else { %>
        <ul>
          <li style="padding:10px;">Nothing to show.</li>
        </ul>
      <% } %>
    </div>

    <div class="up-pane">
      <div class="tags-results">
      <p class="section-label">TAGS</p>
      <% if (tags.length > 0) { %>
        <% tags.forEach( function (tag) { %>
          <a href="#tags/<%= tag.id %>">
            <button style="margin-left:10px; margin-bottom:10px; margin-right:0;"
                  class="tag-button">
            <%= tag.escape('label') %>
            </button>
          </a>
        <% }) %>
      <% } else { %>
        <ul>
          <li style="padding:10px;">Nothing to show.</li>
        </ul>
      <% } %>
    </div>

      <div class="pubs-results">
        <p class="section-label">PUBLICATIONS</p>
        <% if (publications.length > 0) { %>
        <ul>
        <% publications.forEach( function (pub) { %>
          <li>
            <div class="pub-search-right">
            <a href="#/publications/<%= pub.id %>">
              <strong><%= pub.escape('title') %></strong>
            </a><br>
              <%= pub.escape('description') %>
            </div>
            <button class="follow btn btn-primary btn-sm" id="<%= pub.id %>" value="Publication">Follow</button>
          </li>
        <% }) %>
        </ul>
        <% } else { %>
          <ul>
            <li>Nothing to show.</li>
          </ul>
        <% } %>
      </div>

      <div class="users-results">
      <p class="section-label">USERS</p>
        <% if (users.length > 0) { %>
        <ul>
          <% users.forEach( function (user) { %>
            <li>
              <div class="user-info">
                <a href="#/users/<%= user.id %>">
                  <strong><%= user.escape('email') %></strong>
                </a><br>
                <%= user.escape('description') %>
              </div>
                <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
            </li>
          <% }) %>
          </ul>
        <% } else { %>
        <ul>
          <li>Nothing to show.</li>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
  <!-- end section all -->
  <!-- begin section people -->
  <div id="sectionB" class="tab-pane fade">
    <div class="users-results">
      <% if (users.length > 0) { %>
      <ul>
        <% users.forEach( function (user) { %>
          <li class="ur"><div class="user-info"><a href="#/users/<%= user.id %>">
            <strong><%= user.escape('email') %></strong></a><br>
              <%= user.escape('description') %></div>
              <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
          </li>
        <% }) %>
        </ul>
      <% } else { %>
      <ul>
        <li>Nothing to show.</li>
      </ul>
      <% } %>
    </div>
  </div>
  <!-- end section people -->
  <!-- begin section pubs -->
  <div id="sectionC" class="tab-pane fade">
    <div class="pubs-results">
      <% if (publications.length > 0) { %>
      <ul>
      <% publications.forEach( function (pub) { %>
        <li class="pr"><div class="pr-desc"><a href="#/publications/<%= pub.id %>">
          <strong><%= pub.escape('title') %></strong></a><br>
            <%= pub.escape('description') %></div>
            <button class="follow btn btn-primary btn-sm" id="<%= pub.id %>" value="Publication">Follow</button>
        </li>
      <% }) %>
      </ul>
      <% } else { %>
        <ul>
          <li>Nothing to show.</li>
        </ul>
      <% } %>
    </div>
  </div>
  <!-- end section pubs -->
</div>
<% } %>
