<form id="search">
  <input id="box" type="text" placeholder="Search Large" autofocus>
  <input type="submit">
</form>
<br>

<% if (params !== null) { %>
  <ul class="nav nav-tabs nav-stacked">
      <li class="active">All</li>
      <li>People</li>
      <li>Publications</li>
    </ul>
  </nav>
  <div class="pubs-results">
    <h4>Publications</h4>
    <% if (publications !== undefined) { %>
    <ul>
    <% publications.forEach( function (pub) { %>
      <li><strong><%= pub.escape('title') %></strong><br>
          <%= pub.escape('description') %>
          <button class="follow btn btn-primary btn-sm" id="<%= pub.id %>" value="Publication">Follow</button>
      </li>
    <% }) %>
    </ul>
    <% } else { %>
      <ul>
        <li>Nothing to show</li>
      </ul>
    <% } %>
  </div>

  <div class="stories-results">
    <h4>Stories</h4>
    <% if (stories !== undefined) { %>
    <ul>
    <% stories.forEach( function (story) { %>
      <li><%= story.escape('title') %></li>
    <% }) %>
    </ul>
    <% } else { %>
      <ul>
        <li>Nothing to show</li>
      </ul>
    <% } %>
  </div>

  <div class="users-results">
  <h4>Users</h4>
    <% if (users !== undefined) { %>
    <ul>
    <% users.forEach( function (user) { %>
      <li><strong><%= user.escape('email') %></strong><br>
          <%= user.escape('description') %>
          <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
      </li>
    <% }) %>
    </ul>
    <% } else { %>
    <ul>
      <li>Nothing to show</li>
    </ul>
    <% } %>
  </div>
<% } %>
