<div class="pub-show">
    <% if (pub.get('header_image') !== null) { %>
    <div class="header-img">
      <div class="pub-bg-normal" style="background-image:url(<%= pub.escape('header_image') %>)">
        <div style="color:white; margin:0; padding:50px; padding-top:350px; text-align: <%= pub.get('header_align') %>;"
             class="pub-show-header">
          <h1 style="font-size: 60px;"><%= pub.escape('title') %></h1>
          <h3><%= pub.escape('description') %></h3>
        </div>
      </div>
      <!-- <div class="pub-bg-blur" style="background-image:url(<%= pub.escape('header_image') %>)"></div> -->
        <!-- <img src="<%= pub.escape('header_image') %>"> -->
      </div>
    </div>
    <% } else { %>
    <div style="text-align: <%= pub.get('header_align') %>;" class="pub-show-header">
      <h1 style="font-size: 60px;"><%= pub.escape('title') %></h1>
      <h3><%= pub.escape('description') %></h3>
    </div>
    <% } %>
  <br>
  <div class="pub-show-info">
    <button class="info" id="followers" data-toggle="modal" data-target="#followersModal">FOLLOWERS<br><p class=num><%= followers.length %></p></button>
    <br>
    <button class="follow btn btn-primary">Follow</button>
  </div>
  <br>
  <ul class="pub-stories">
  </ul>

  <div id="followersModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="followersLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="modal-title" id="followersLabel"><%= pub.escape('title') %> is followed by</h2>
          <% if (followers.length > 0) { %>
          <ul>
            <% followers.forEach( function (user) { %>
              <li><div class="user-info"><a href="#/users/<%= user.id %>">
                <strong><%= user.escape('email') %></strong></a><br>
                  <%= user.escape('description') %></div>
                  <button class="follow btn btn-primary btn-sm" id="<%= user.id %>" value="User">Follow</button>
              </li>
            <% }) %>
            </ul>
          <% } else { %>
          <ul>
            <li>Nothing to show.</li>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
