<p>About:</p>
<h2><%= pub.escape('title') %></h2>
<button id="<%= pub.id %>">Follow</button>
<br>
<p>A note from the editor:</p>
<h4><%= pub.escape('description') %></h4>
<br>
<p>Editors:</p>
<ul><% editors.forEach( function (editor) { %>
  <li><%= editor.escape('email') %><br>
      <%= editor.escape('description') %>
      <button id="<%= editor.id %>">Follow</button>
  </li>
<% }) %>
</ul>
<br>
<p>Writers:</p>
<ul><% writers.forEach( function (writer) { %>
  <li><%= writer.escape('email') %><br>
      <%= writer.escape('description') %>
      <button id="<%= writer.id %>">Follow</button>
  </li>
<% }) %>
</ul>
