<div class="pub-show">
  <a href="#/publications/<%= pub.id %>/about">About <%= pub.escape('title') %></a>
  <br>
  <div class="pub-show-header">
    <% if (pub.get('header_image') !== null) { %>
    <div class="header-img">
      <img src="<%= pub.escape('header_image') %>">
    </div>
    <% } %>
    <h1><%= pub.escape('title') %></h1>
    <h3><%= pub.escape('description') %></h3><br>
    <button class="info">FOLLOWERS<br><p class=num><%= followers %></p></button>
    <br>
    <button class="follow btn btn-primary">Follow</button>
  </div>
  <br>
  <ul class="pub-stories">
  </ul>
</div>
