<nav class="navbar navbar-default" role="navigation">
<!-- <div class="container container-fluid"> -->
  <div class="navbar-header">
    <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand" href="#"><img style="height:40px;" src="<%= asset_path( 'large_logo.png' ) %>"></a>
  </div>

  <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><button class="navbar-btn btn btn-circle" onclick="window.location.href='#/search'"><i class="fa fa-search"></i></button></li>
      <li><%= button_to "Write a Story", "#/stories/new", method: :get, class: "btn btn-primary navbar-btn" %></li>
      <li id='add-dropdown' class='dropdown'>
        <button
          class='dropdown-toggle navbar-btn btn btn-circle'
          data-toggle='dropdown'><span><i class="fa fa-user"></i></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "New Story", "#/stories/new", method: :get %></li>
          <li><%= link_to "New Publication", "#/publications/new", method: :get %></li>
          <li><%= link_to "Your Profile", "#/users/#{current_user.id}", method: :get %></li>
          <li><%= link_to "Sign out", session_url, method: :delete %></li>
        </ul>
      </li>
    <% else %>
      <li><%= button_to "Log in", new_session_url, class: "btn btn-primary navbar-btn" %></li>
      <li><%= button_to "Sign up", new_user_url, class: "btn btn-primary navbar-btn" %></li>
    <% end %>
    </ul>
  <!-- </div> -->
<!-- </div> -->
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
